*{
    display: flex;
    margin: 0px;
    padding: 0px;
}


body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#main-header {
    display: flex;
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    padding-left: 10px;
    padding-right: 10px;
    justify-content:space-between;
    align-items: center;
}

#img-tea-cozy-logo{
    height: 50px;
}

.header-link{
    text-decoration: underline;
}

#mission{
    height: 700px;
    width: 1200px;
    display: flex;
    position: relative;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-bedford-bizarre.jpg);
    background-size: 700px 1200px;
}

#mission div {
    background-color: black;
    opacity: 0.9;
}