*{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#main-header {
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    padding-left: 10px;
    padding-right: 10px;
}

#img-tea-cozy-logo{
    height: 50px;
    float:left
}

#links-container{
    float:right;
}

.header-link{
    text-decoration: underline;
}